#add-remove-part-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
}

#add-part-card, #remove-part-card{
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}