.manage-users-btn {
    display: flex;
    max-width: 16em;
    align-items: center;
    justify-content: center;
    padding: 0.2em 0.2em;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.3em;
  }
  
  .manage-users-btn:hover {
    background-color: #3a3d40;
  }
  
  .icon {
    width: 6em;
    height: 4em;
    margin-right: 0.1em;
  }
  