body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto; /* Allows the page to be scrollable */
  }
.product-table {
    width: 100%;
    border-collapse: collapse;
}

.product-table th,
.product-table td {
    border: 1px solid #ddd;
    padding: 8px;
}
#buttonDiv{
    margin-top: 1em;
}

.product-table td{
    background-color: #bebebe;
    color: rgb(0, 0, 0);
    text-emphasis: bold;
}

.product-table th {
    background-color: #000000;
    text-align: left;
    color: white;
}
