body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: auto; /* Allows the page to be scrollable */
}
.user-table {
  width: 100%;
}

.user-table th, .user-table td {
  border: 2px solid #6c6c6c;
  padding: 8px;
}
  
.user-table th {
  background-color: #969090;
  text-align: left;
}
  
.user-table tr:hover {
  background-color: #6c6c6c;
}
#backButton1{
  margin-left: 64%;
  font-size: 0.8em;
  background-color: #767676;
  color: #000000;
  border: none;
  border-radius: 5px;
}

.export-buttons {
  margin-bottom: 0.5em;
  display: flex;
  gap: 10px;
}

.export-csv-btn {
  background-color: #585858;
}

.export-pdf-btn {
  background-color: #585858;
}

.export-buttons .btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}